openapi: 3.2.0
info:
  title: ERDDAP REST Files API
  version: '2.23'
  description: 'OpenAPI specification for ERDDAP (Environmental Research Division''s Data

    Access Program), a scientific data server providing simple, consistent

    access to gridded and tabular scientific datasets.'
  contact:
    name: ERDDAP Project
    url: https://github.com/ERDDAP/erddap
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://coastwatch.pfeg.noaa.gov/erddap
  description: NOAA CoastWatch West Coast Node (reference server)
- url: https://erddap.ioos.us/erddap
  description: US IOOS ERDDAP
- url: '{baseUrl}'
  description: Any ERDDAP server — replace with the instance base URL
  variables:
    baseUrl:
      default: https://coastwatch.pfeg.noaa.gov/erddap
      description: 'Base URL of any ERDDAP server, including the /erddap path segment

        if present (e.g. https://example.org/erddap).

        '
tags:
- name: Files
  description: Browse and download raw files associated with a dataset.
paths:
  /files/{datasetID}:
    get:
      summary: Browse raw files for a dataset
      operationId: listDatasetFiles
      tags:
      - Files
      description: 'Returns an HTML directory listing of the raw source files for datasets

        that expose a file system. Individual files can be downloaded by

        appending the filename to this URL.'
      parameters:
      - name: datasetID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: HTML directory listing.
          content:
            text/html:
              schema:
                type: string
